body {
  background: black;
}

p#composition {
  position: absolute;
  top: 2em;
  left: 2em;
  font-family: Arial;
  color: white;
}

span {
  padding: 1em;
}

span.current {
  color: red;
  font-weight: bold;
  font-size: 2em;
}
