body {
  background: black;
}

p#composition {
  position: absolute;
  top: 2em;
  left: 2em;
  font-family: Arial;
  color: white;
}

p.not-me {
  opacity: 0.25;
}

span {
  padding: 1em;
}

span.current {
  color: red;
  font-weight: bold;
  font-size: 2em;
}
p#composition {
  position: absolute;
  top: 2em;
  left: 2em;
  font-family: Arial;
  color: white;
}

span {
  padding: 1em;
}

p.me span.note {
  cursor: pointer;
}

p.not-me span.note {
  cursor: not-allowed;
}
